/* Index */
* {
    margin: 0;
    padding: 0;    
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
    }
   
.navegacion {
    background-color: red;


    .menu_container{
        display: inline-block; 
        :hover{
            background-color: #0d6efd;
            border-radius: 15px;

        }
    }
    
    li{
        display: inline-block;
        padding: 5px;
        margin-left: 0 ;
        
    }

    a{
        color: white;
        font-size: 20px;
        
        
    }

    .logo_chico{
        border-radius: 70px;
        height: 75px;
        padding: 5px;
        position: relative;
        left: 715px;        
    }

    .icon{
        width: 35px;
        padding: 5px;
        color: white;
    }
 
}

.principal{
    display: grid;
    grid-template-columns: 50% 1fr ;
    column-gap: 25px;
    
    .team{
        width: 100%;
        margin-top: 20px;
        border-radius: 40px;
        margin-left: 10px;
        
    }
    .texto{
        margin-top: 200px;
        font-size: 20px;
        text-align: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

}

.pie_de_pagina{
    background-color: red;
    position: relative;
    top: 20px;

    .logo_redes{
        width: 20px;
        padding: 0;
        margin-left: 100px;
        margin-top: 0;
       
    }

    p{
        display: inline-block;
        padding: 0;
        margin-left: 10px;
        margin-top: 10px;
    }

    .maps{
        position: absolute;
        bottom: 25px;
        right: 25px;
        
    }
}

/*Pilotos*/
h1{
    text-align: center;
    position: relative;
    top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    position: relative;
    
    p{
       margin-left: 280px;
       bottom: 200px;
       position: relative;
    }
    .tp{
        position: relative;
        bottom: 410px;
    }


    .turismo_nacional{
    float: left;
    width: 35%;
    margin-left: 60px;
    margin-top: 20px;
    }
 
    .turismo_pista{    
    width: 50%;
    margin-left: 110px;
    position: relative;
    bottom: 200px;
    }

    
    .damiani, .carducci, .noceti, .zanazzi {
    width: 270px;
    position: relative;
    top: 25px;
    }
    .fontana, .leston, .bodrato, .quattrocchi{
    width: 257px;
    position: relative;
    bottom: 180px;
    }
    .col-md-6{
        position: relative;
        left: 70px;
    }
}
